<ion-header>
        <ion-navbar>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>Crear Cuenta  <ion-icon ios="ios-person-add" md="md-person-add"></ion-icon> </ion-title>
        </ion-navbar>
      </ion-header>
    
      <ion-content>
<ion-list >
<!-- 
    <ion-item>
        <ion-card>
            <img src="assets/imgs/mapa.png"/>
            <div class="card-title">Mapa</div>
            <div class="card-subtitle">Seleccione la ubicacion del problema.</div>
          </ion-card>
    <!-- </ion-item> -->
  
  
    <ion-item>
      <ion-label floating>Nombre Completo</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>Fecha de nacimiento</ion-label>
        <ion-input type="date"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item>
          <ion-label floating>Contraseña</ion-label>
          <ion-input type="password"></ion-input>
    </ion-item>
    <ion-item>
          <ion-label floating>Domicilio</ion-label>
          <ion-input type="text"></ion-input>
    </ion-item>
        <!-- ocultar tipo de usuario -->

    <ion-item>
            <ion-label floating>Ubicacion del domicilio (Maps)</ion-label>
            <ion-input type="text"></ion-input>
    </ion-item>
         <!-- Fecha de registro se oculta -->
               <!-- Estatus oculto-->
<!-- 
    <div style="margin-left: 120px" >
        <button ion-button round style="height: 50px;width: 50px">
            <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
        </button>
      <button ion-button  color="light" style="color:black; height: 50px;width: 50px"   round>
          <ion-icon name="photos" ></ion-icon>
      </button> 
  
    </div>-->

        
 

  
  </ion-list>
  <button ion-button full>Registrar
    <ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon>
</button>
  <ion-content>