page-list {

    .water{
    
    color: rgb(28, 156, 230);
    }
    .trash
    {
    
        color: rgb(168, 61, 11);
    }
    .alum
    {
        
        color: rgb(221, 182, 7);
    }
    .baches
    {
    
        color: rgb(8, 26, 10);
    }  
    .otro
    {
    
        color: rgb(0, 0, 0);
    }    
}
